<p class="author">Artist: {{artist}}</p>
<p class="songname">Song Name: {{title}}</p>
<p class="description">Description: {{description}}</p>

<button class="button-replay">Replay</button>
<button class="button-volume">Volume</button>
<img src={{imageURL}} class="album-cover">
<p class="counter-plays">Plays: {{plays}}</p>
<p class="counter-loves">Loves: {{loves}}</p>
<div class="trackbar">Trackbar</div>
