<h1>Soundcloud</h1>
<p class="author">{{author}}Author</p>
<p class="songname">{{songname}}Song Name</p>
<button class="button-replay">Replay</button>
<button class="button-volume">Volume</button>
<img src={{imageURL}} class="album-cover">
<p class="counter-plays">{{playscounter}}Plays</p>
<p class="counter-loves">{{lovescounter}}Loves</p>
<div class="trackbar">Trackbar</div>


{{outlet}}
